obj/
bin/
.vs/
script*/
data/file_hashes.json
DataFlow.Extensions.SparkQueryExtensions/
DataFlow.Framework.SparkQuery/
UnitTests/DataFlow.SparkQuery.Tests/
DataFlow.Framework.SnowflakeQuery/
UnitTests/DataFlow.SnowflakeQuery.Tests/
archive/
coverage/
kh/
UnitTests/TestResults/
nupkgs/
# Secrets - never commit!
.secrets.md
../.secrets.md